body {
    background-color: #f19797a0;
    color: snow;
    text-align: center;
}

h1 {
    font-family: fantasy;
    color: rgb(126, 27, 27);
    font-size: 60px;
}

button {
    background-color: rgba(165, 42, 42, 0.33);
    font-size: 30px;
    font-family:monospace ;
   
}

